<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="Templates/Theme/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="Templates/Theme/css/default.css" rel="stylesheet" />
    <script src="Templates/Theme/jquery/jquery-1.11.1.min.js"></script>
    <script src="Templates/Theme/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <div class="content">
        <div class="head">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="logo">
                        <img src="Templates/Theme/img/samples/logo.jpg" alt="Diana" />
                    </div>
                    <div class="title">
                        <span>Diana轻量级开发框架</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="maincontent">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-th-list" style="margin-right: 5px;"></i>框架简介
                </div>
                <div class="panel-body">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diana轻量级开发框架的思想是基于MVC框架，但去除MVC框架的系统结构和实现的复杂性。通过使用单入口模式，利用反射机制实现了模型(model)－视图(view)－控制器(controller)的逻辑、数据、界面显示的分离，使得框架加载性能相对于传统MVC框架较为高效。前台设计了两种页面风格(基于MVVM框架Knockout的ACE前端，基于Bootstrap开发的扁平化前端)。后台ORM采用SQL Sugar使系统与数据库的操作更加灵活稳定。Diana轻量级开发框架有强大的权限管理，并且集成工作流引擎组件，支持可视化操作，使业务流程灵活可控。框架本身是一个可二次开发的开发平台，开发者既能通过在本框架上完成大部分的基础开发工作，也可以根据框架预留接口进行再次开发，本框架结构清晰、性能高、速度快、扩展性强、界面简单。</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-th-list" style="margin-right: 5px;"></i>功能特性
                </div>
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 text_align">

                            <img src="Templates/Theme/img/svg/browser.svg" />
                            <h4>两套前端风格</h4>
                            <p>一种是基于MVVM框架Knockout的ACE前端，另外一种是基于Bootstrap开发的扁平化前端。界面风格简洁大气、操作便捷。</p>
                        </div>
                        <div class="col-sm-4 text_align">
                            <img src="Templates/Theme/img/svg/laptop.svg" />
                            <h4>两种数据库</h4>
                            <p>支持两种主流数据库Sql Server和My sql，后台使用Sql Sugar 组件，提高了运行效率，并且使框架更灵活。</p>
                        </div>
                        <div class="col-sm-4 text_align">

                            <img src="Templates/Theme/img/svg/pencil.svg" />
                            <h4>权限管理</h4>
                            <p>基于rbac的多种形式的权限控制，资源和动作分离，降低程序耦合度，实现两者的独立运行，以适用于复杂的权限系统。</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text_align">
                            <img src="Templates/Theme/img/svg/bulb.svg" />
                            <h4>插件化开发</h4>
                            <p>Diana开发框架本身是一个可二次开发的开发平台,通过在本框架上完成大部分的业务开发工作，也可以根据框架预留接口进行再次开发。</p>
                        </div>
                        <div class="col-sm-4 text_align">
                            <img src="Templates/Theme/img/svg/airplane.svg" />
                            <h4>可视化工作流</h4>
                            <p>串行会签:串行会签模式是指工作流流程中的任务是依照次序顺序执行，没有分支选择、循环等路
                               分支/合并会签:分支模式是指对工作流流程中的任务执行条件进行限定，在执行过程中，根据条件判断执行路径。</p>
                        </div>
                        <div class="col-sm-4 text_align">

                            <img src="Templates/Theme/img/svg/clipboard.svg" />
                            <h4>文章管理</h4>
                            <p>利用UEditor插件提供了文章管理功能，可以用此来完成CMS的搭建。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="info">
                                <h4>开发者团队</h4>
                                <p>胡凯雨，张梦丽，艾美珍，易传佳，陈祚松，康文洋，张婷婷，王露，周庆，夏萍萍，陈兰兰</p>
                                <p>Copryright  华东交通大学系统工程与密码学研究所 </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h4>联系我们</h4>
                            <div class="contact">
                                <img src="Templates/Theme/img/samples/qqChat.jpg" alt="扫描二维码加入qq群交流学习" />
                            </div>
                            <div>
                                QQ群：498487801
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
