.ckbox,.rdio{position: relative;display:block;padding-right:12px;line-height: initial;float:left;}
.ckbox input[type="checkbox"],.rdio input[type="radio"]{opacity: 0;margin: 3px 0 0;}
.ckbox label,.rdio label{padding-left: 10px;cursor: pointer;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;user-select: none;}
.ckbox label:before{width: 18px;height: 18px;position: absolute;top: 1px;left: 0;content: '';display: inline-block;border: 1px solid #ccc;background: #fff;}
.ckbox input[type="checkbox"]:disabled + label{color: #999;}
.ckbox input[type="checkbox"]:disabled + label:before{background-color: #eee;}
.ckbox input[type="checkbox"]:checked + label::after{font-family: 'FontAwesome';content: "\F00C";position: absolute;top: 4.5px;left: 3.5px;display: inline-block;font-size: 11px;width: 16px;height: 16px;color: #fff;}
.ckbox input[type="checkbox"]:checked + label:before{border-color: #337ab7;background-color: #337ab7;}
.rdio label:before{width: 18px;height: 18px;position: absolute;top: 1px;left: 0;content: '';display: inline-block;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;border: 1px solid #ccc;background: #fff;}
.rdio input[type="radio"]:disabled + label{color: #999;}
.rdio input[type="radio"]:disabled + label:before{background-color: #eee;}
.rdio input[type="radio"]:checked + label::after{content: '';position: absolute;top: 5px;left: 4px;display: inline-block;font-size: 11px;width: 10px;height: 10px;background-color: #444;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;}
.rdio input[type="radio"]:checked + label:before{border-color: #337ab7;}
.rdio input[type="radio"]:checked + label::after{background-color: #337ab7;}
.topPanel{height: 50px;line-height: 50px;background: #fff;border: 1px solid #ddd;margin: 0px;border-bottom: none;position: relative;}
.topPanel .search{float: left;padding-left:10px;}
.topPanel .search table td{height: 50px;line-height: 50px;}
.topPanel .search table td .btn-group{line-height:30px;margin-top:1px;}
.topPanel .search .input-group{line-height:30px;margin-top:1px;}
.topPanel .search .input-group .btn{padding: 0px 0px;font-size: 14px;height:30px;min-width:30px;}
.topPanel .search .input-group .btn i{margin-right:0px;}
.topPanel .search .input-group .form-control{box-shadow:none;height:30px;line-height:30px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:7px;resize: none;}
.topPanel .search .input-group .form-control:focus{border-color:#ddd;-webkit-box-shadow:none;box-shadow:none;}
.topPanel .search .btn i{margin-right:4px;font-size:14px;}
.topPanel .toolbar{float: right;padding-right: 10px;}
.topPanel .toolbar .btn i{margin-right:5px;font-size: 13px;}
.topPanel .toolbar .operate{line-height:50px;height: 50px;width: 100%;background: #fff;position: absolute;top:0px;left:-100.1%;z-index:999;}
.topPanel .toolbar .operate ul{margin: 9px 0 0 -2px;}
.topPanel .toolbar .operate ul li{float: left;height: 12px;line-height: 12px;}
.topPanel .toolbar .operate ul li.split{position: relative;display: block;border-right: 1px solid #c9c9c9;height: 16px;margin-left:5px;margin-right:5px;margin-top: 8px;}
.topPanel .toolbar .operate ul li a{cursor:pointer;padding: 10px 10px;}
.topPanel .toolbar .operate ul li i{margin-right:4px;font-size:13px;color: #666666;vertical-align: middle;margin-top: -1px;}
.topPanel .toolbar .operate ul .first{position: relative;display: block;padding: 2px 15px;padding-right:10px;margin-top: 8px;margin-right:0px;border-right: 1px solid #c9c9c9;}
.topPanel .toolbar .operate ul li.first > span{margin-left: 5px;margin-right:5px;}
.topPanel .toolbar .operate .close{position: absolute;top:18px;right:12px;display:block;height: 12px;width: 12px;background: url(../img/button_pm_close.png) left center no-repeat;}
.topPanel .toolbar .operate .dropdown-menu{top: 24px;}
.topPanel .toolbar .operate .dropdown-menu li{float:none;height: auto;}
.topPanel .toolbar .operate .dropdown-menu li a{padding: 5px 20px;}
.form{width:100%;margin:0px;padding:0px;border-collapse:collapse;border-width:3px 1px 1px;table-layout:fixed}
.form .formTitle{position:relative;left:0px;text-align:right;white-space:nowrap;font-weight:normal;width:90px;padding-right:15px;}
.form .formTitle font{color:red;position:absolute;right:0px;}
.form .formValue{position:relative;padding:5px;width:auto;}
.form .formValue input.form-control{height:30px;line-height:30px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:5px;resize: none;border-radius: 0px;box-shadow:none;}
/*添加：标签样式*/
.form .formValue label.form-control{text-align:left;font-size: 14px;font-weight: normal;border: none;padding-top:7px;padding-bottom:5px;padding-right:0px;padding-left:0px;box-shadow:inset 0 1px 1px rgba(0,0,0,0);}
/*添加：标签样式*/
.form .formValue select.form-control{border-radius: 0px;box-shadow:none;}
.form .formValue textarea.form-control{padding-left:5px;resize: none;border-radius: 0px;box-shadow:none;}
.form .formValue .input-group .btn{padding: 4px 0px;font-size: 14px;height:30px;min-width: 30px;border-radius: 0px;}
.form .formValue .input-group .btn .fa-ellipsis-h{margin-top: 4.5px;}
.form .formValue.has-error .form-control.error{border-color:#e7bebe;background-color: #fffafa;}
.form .formValue.has-error .form-control-feedback.error{color: #e46f61;top:5.5px;right: 4px;font-size:16px;cursor:pointer;z-index:99;}
.form .formValue.has-error .form-control.success{border-color:#b0dd9c;background-color: #f3f7f1;}
.form .formValue.has-error .form-control-feedback.success{color: #8cc474;top:5px;right: 4px;font-size:16px;}
.form .formValue.has-error .select2-selection--single{border-color:#e7bebe;background-color: #fffafa;}
.form .formValue.has-error .tooltip-arrow{border-left-color:#d73d32;}
.form .formValue.has-error .tooltip-inner{background-color: #d73d32;}
.form-button{padding: 0px;height: 40px;line-height: 36px;text-align: right;border-top: 1px solid #ddd;background-color: #eee;position: absolute;top: 100%;margin-top: -40px;width: 100%;padding-right: 6px;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;user-select: none;}
.ui-layout .topPanel{border: none;}
.ui-layout .ui-jqgrid{border-left:none;border-right:none;border-bottom:none;}
.mail-box{border: 1px solid #ddd;}
.mail-header{background-color: #fff;border-bottom: 1px solid #ddd;font-size: 20px;height:60px;line-height:60px;padding-left:30px;padding-right:30px;}
.mail-body{padding: 20px;}
.price-box{width:860px;margin-left:auto;margin-right:auto;border: 1px solid #ddd;box-shadow: rgb(189, 189, 189) 0px 0px 10px;background: #fff;padding: 50px;padding-top:20px;margin-top: 25px;padding-bottom:0px;}
.price-title{font-size: 30px;text-align: center;line-height:60px;font-weight: bold;}
.price-subtitle{text-align: center;}
.price-info{margin-top:20px;margin-bottom:20px;}
.price-info table .formTitle{text-align:left;width:50px;font-size: 12px;}
.price-info table .formValue{text-align:left;font-size: 12px;}
.price-info table .formValue input{border-top:none;border-right:none;border-left:none;height:22px!important;line-height:22px!important;font-size: 12px;}
.price-table table{margin: 0px;margin-top:1px;border-collapse: collapse;width: 100%;border-left: 1px solid #ccc;}
.price-table table thead tr td{border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;padding-top:5px;padding-bottom:5px;text-overflow:ellipsis;word-break:keep-all;overflow:hidden;font-weight:bold;padding-left:5px;padding-right:5px;font-size: 12px;}
.price-table table tbody tr td{border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;height:25px;line-height:25px;word-break: break-all;padding-left:5px;padding-right:5px;font-size: 12px;}
.wrapper{border: 1px solid #ddd;overflow:auto;color: #475059;background-color:#fff;}
.wrapper .nav-tabs{position:relative;z-index:1;margin:0;padding:15px 15px 0;border-color:#ddd}
.wrapper .nav-tabs>li{margin:0 4px 0 0;}
.wrapper .nav-tabs>li>a{line-height:30px;padding:0 13px;background-color:#fff;border:none;cursor:pointer;color: #666;}
.wrapper .nav-tabs>li>a:hover{border:none;border-bottom:2px solid #1ABC9C;background-color:#fff;color:#333}
.wrapper .nav-tabs>li.active a{line-height:30px;background-color:#fff;border:none;border-bottom:2px solid #1ABC9C;color: #666;}
.wrapper .nav-tabs>li.active a:hover,.aw-nav-tabs>li.active a:focus,.aw-nav-tabs>li>a:focus{border:none;border-bottom:2px solid #1ABC9C;background-color:#fff}
.wrapper .pop-list{width: 100%;margin: 0;float: left;height: auto;list-style: none;padding:0px;}
.wrapper .pop-list li{position: relative;float: left;clear: left;width: 100%;height: auto;margin-bottom: 10px;line-height: 20px;list-style: none;}
.wrapper .pop-list li span{float: left;max-width: 200px;margin-right: 10px;}
.wrapper .pop-list li.line{padding-bottom: 8px;border-bottom: 1px solid #e6e6e6;}
.wrapper .pop-list li.line h5{color: #525252;}
.wrapper .pop-list li h5{font-size: 12px;font-weight: bold;line-height: 24px;}
.wrapper .pop-list label{line-height: 30px;display: block;float: left;min-width: 100px;height: 30px;padding: 5px 0;padding-right:15px;}
.wrapper .pop-list li .form-control{float: left;width: 300px;margin-right: 5px;line-height: 30px;height: 30px;padding:0px;padding-left:5px;margin-top:3px;border-radius: 3px;box-shadow:none;resize: none;}

/* 设置bootstrap表格div的最小宽度，不然，在小屏显示器下会出现变形 */
.table-responsive {
    min-width:100%;
/* min-width:850px; */

}

/* start fx-page */
.fx-page {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    font-size: 0;
    line-height: 24px;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
}

    .fx-page, .fx-page * {
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }

        .fx-page .fx-page-span {
            vertical-align: middle;
            padding: 0 15px;
            border: 1px solid #e2e2e2;
            height: 28px;
            line-height: 28px;
            background-color: #fff;
            color: #333;
            font-size: 12px;
            /*margin: 0 -3px !important;*/
            float: left;
            margin: -1px;
        }

        .fx-page a {
            text-decoration: none;
        }

        .fx-page span {
            /*color: #999;*/
            font-weight: 700;
            font-size: 12px;
        }

        .fx-page .fx-page-curr {
            cursor: default;
            background-color: #009688;
            color: #fff;
            border: 1px solid #009688;
        }

        .fx-page .fx-page-total {
            height: 30px;
            line-height: 30px;
            margin-left: 1px;
            border: none;
            font-weight: 400;
        }

        .fx-page button {
            margin-left: 5px;
            padding: 0 15px;
            cursor: pointer;
        }

        .fx-page input {
            width: 50px;
            margin: 0 5px;
            text-align: center;
        }

        .fx-page button, .fx-page input {
            height: 30px;
            line-height: 30px;
            border: 1px solid #e2e2e2;
            border-radius: 2px;
            vertical-align: top;
            background-color: #fff;
            box-sizing: border-box !important;
         }

        .fx-page button, input {
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            outline: 0;
        }
/* end fx-page */