<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--log4net配置节点-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <add key="copyright" value="华东交通大学系统工程与密码学研究所"/>
    <add key="copyrightpublickey" value="05CF98DA4E41331C6FA66337DBAB00A5EBCE1BAE0B8994150F6BCF6EE7E662C155CD018CF0175C92A4CDB4E00FD090B97C234FF81E87D3C3ACABFEF2E31839CA"/>
    <add key="copyrightsign" value="Qs2LH0+XH0QSnYxvfhqKqrSMsVasGAeM2lvSXCn1EmUoUG0/jchhySZEFUKR1KA3cdwLOa/ta8fddcIgnfGuDQ=="/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     		如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="自己填写数据库连接"/>
    <add key="mysqlConnectionString" value="自己填写数据库连接"/>
    <!--数据库切换  1.为SQL Sever 2.MySql   如果选择一个数据库请将另一个注释掉-->
    <add key="Dal" value="Diana.dal.dll_Diana.dal.dalModule"/>
    <!--<add key="Dal" value="Diana.mydal.dll_Diana.mydal.mydalModule"/>-->
    
    <!--页面切换配置：本系统提供两套切换界面 ：Bootstrap界面和Ace界面   切换到 Ace界面  请将value值该成AceTemplate   切换到Bootstrap界面 请将value值该成BootstrapTemplate     Diana轻量级开发框架 -->
    <add key="InterfaceSwitch" value="BootstrapTemplate"/>

    <!--登录模块中采用多种登录模式:1.Session 2.Cookie 3.Cache  4.智能卡 5.手机扫码登录-->
    <add key="LoginType" value="Session"/>

    <!--缓存类型：1. HttpRuntimeCache  2.RedisCache 3.Memcached-->
    <add key="CacheType" value="RedisCache"/>



    <!--第三方登录  认证 appKey appSecret-->
    <add key="baidu_appKey" value="ommMs96Gp06jMEdRamFzFxcT"/>
    <add key="baidu_appSecret" value="DdBV6WuPDEBrgq9KyeTwPdf4EX5WNa2v"/>
    <add key="weibo_appKey" value="170252295"/>
    <add key="weibo_appSecret" value="87f56d44f51a71adbb0b162d909b6b1b"/>
    <add key="qq_appKey" value="1106616579"/>
    <add key="qq_appSecret" value="PWpvJ0FOmkEGt2yB"/>
    
  </appSettings>

  <!--log4net配置节点-->
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ERROR"/>
      <appender-ref ref="SysAppender"/>
    </root>

    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="WebLogger">
      <level value="DEBUG"/>
    </logger>

    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="App_Data/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
        <param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  
</configuration>
