<script type="text/javascript" src="Templates/Theme/jquery/jquery-1.11.1.min.js"></script>

<link href="Templates/Theme/bootstrap/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="Templates/Theme/bootstrap/bootstrap.min.js"></script>

<link href="Templates/Theme/css/framework-font.css" rel="stylesheet" />
<link href="Templates/Theme/css/framework-ui.css" rel="stylesheet" />

<script type="text/javascript" src="Templates/Theme/knockout/knockout-latest.js"></script>
<script type="text/javascript" src="Templates/Theme/knockout/knockout.mapping-latest.js"></script>
<script type="text/javascript" src="Templates/Theme/Acejs/kohelper.js"></script>

<script type="text/javascript" src="Templates/Theme/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="Templates/Theme/My97DatePicker/WdatePicker.js"></script>

<link href="Templates/Theme/dialog/dialog.css" rel="stylesheet" />
<script type="text/javascript" src="Templates/Theme/dialog/dialog.js"></script>
<script type="text/javascript" src="Templates/Theme/Acejs/ace.js"></script>