<div data-bind= "with:Dialog">
 <div data-bind= "display:IsShow() " class= "modal fade " tabindex= "-1 " role= "dialog " aria-labelledby= "myModalLabel" 
 aria-hidden= "true " id= "Dialog" data-backdrop= "false " data-keyboard= "true ">
	 <div class= "modal-dialog " style= "width:800px; "> 
		 <div class= "modal-content " style= "width:800px;">
			 <div class= "modal-header ">" 
				 <label data-bind= "text:Title "></label>" 
				 <button type= "button " class= "close " data-dismiss= "modal " data-bind= "click:function(){ IsShow(false);}">
				 <span aria-hidden= "true ">&times;</span></button> 
              </div>