<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="Templates/Theme/wdtree/tree.css" rel="stylesheet" />
    <link href="Templates/Theme/select2/select2.min.css" rel="stylesheet" />
    <link href="Templates/Theme/wizard/wizard.css" rel="stylesheet" />
    #include("../AceTemplate/Module/_indexModule.html")
    <script type="text/javascript" src="Templates/Theme/wdtree/tree.js"></script>
    <script type="text/javascript" src="Templates/Theme/select2/select2.min.js"></script>
    <script type="text/javascript" src="Templates/Theme/wizard/wizard.js"></script>
    <script type="text/javascript" src="Templates/Theme/Acejs/framework-ui.js"></script>


    #set($JQ="$.")

     
</head>
<body>
    <div class="topPanel">
        <div class="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" onclick="$ace.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" data-bind="click:Edit,attr:{disabled:!DataTable.SelectedModel()}"><i class="fa fa-pencil-square-o"></i>修改</button>
                <button class="btn btn-primary" data-bind="click:Delete,attr:{disabled:!DataTable.SelectedModel()}"><i class="fa fa-trash-o"></i>删除</button>
                <button class="btn btn-primary" data-bind="click:Add"><i class="fa fa-plus"></i>添加</button>
                <button class="btn btn-primary" data-bind="click:Detail,attr:{disabled:!DataTable.SelectedModel()}"><i class="fa fa-pencil-square-o"></i>详情</button>
            </div>
        </div>
        <div class="search">
            <table>
                <tr>
                    <td>
                        <div class="input-group">
                            <input id="txt_keyword" type="text" class="form-control" placeholder="动作名称" style="width: 200px;" data-bind="value:SearchModel().keyword">
                            <span class="input-group-btn">
                                <button id="btn_search" type="button" class="btn  btn-primary" data-bind="click:Search"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" data-bind="with:DataTable">
            <thead>
                <tr>
                    <th style="width: 20px;"></th>
                    <th>工作流名称</th>
                    <th>节点动作名称</th>
                    <th>当前节点</th>
                    <th>下一个节点</th>
                    <th>动作状态</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>锁定状态</th>
                    <th>动作类型</th>
                    <th>动作</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:Models">
                <tr data-bind="click:$parent.SelectRow">
                    <td data-bind="text:$index()+1"></td>
                    <td data-bind="text:$root.getWorkflowName(wfid)"></td>
                    <td data-bind="text:nodeactionname"></td>
                    <td data-bind="text:$root.getWorkflownodeName(nextnodeid)"></td>
                    <td data-bind="text:$root.getWorkflownodeName(currentnodeid)"></td>
                    <td data-bind="text:nastatus"></td>
                    <td data-bind="text:begintime"></td>
                    <td data-bind="text:endtime"></td>
                    <td data-bind="text:nalock"></td>
                    <td data-bind="text:nodetype"></td>
                    <td data-bind="text:$root.getActionName(actionid)"></td>
                </tr>
            </tbody>
            <!-- 分页-->
            #include("../AceTemplate/Module/Page.html")
        </table>
    </div>
    <!--//对话框(新增，修改)-->
    #include("../AceTemplate/Module/BeginDialogParam.html")
        <form id="form1">
            <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">表单信息</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <td class="formTitle">节点动作名称</td>
                                <td class="formValue">
                                    <input id="nodeactionname" name="nodeactionname" type="text" class="form-control" data-bind="value:Model().nodeactionname" />
                                </td>
                                <td class="formTitle">动作名称</td>
                                <td class="formValue">
                                    <select id="actionid" name="actionid" class="form-control" data-bind="value:Model().actionid">
                                        #foreach($ac in $actionList)			
	                                    <option value="$wf.Value">$ac.Text</option>
                                        #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">所属工作流</td>
                                <td class="formValue">
                                    <select id="wfid" name="wfid" class="form-control" data-bind="value:Model().wfid">
                                    #foreach($wf in $WorkflowList)			
	                                    <option value="$wf.Value">$wf.Text</option>
                                    #end
                                    </select>

                                </td>
                                <td class="formTitle">动作类型</td>
                                <td class="formValue">
                                    <select id="nodetype" name="nodetype" class="form-control " data-bind="value:Model().nodetype">
                                        <option value="1" selected="selected">普通节点动作</option>
                                        <option value="2">会签节点动作</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">当前节点</td>
                                <td class="formValue">
                                    <select id="currentnodeid" name="currentnodeid" class="form-control" data-bind="value:Model().currentnodeid">
                                    #foreach($node in $WfNodeList)			
	                                    <option value="$wf.Value">$node.Text</option>
                                    #end
                                    </select>
                                </td>
                                <td class="formTitle">下一节点</td>
                                <td class="formValue">
                                    <select id="nextnodeid" name="nextnodeid" class="form-control" data-bind="value:Model().nextnodeid">
                                    #foreach($node in $WfNodeList)			
	                                    <option value="$wf.Value">$node.Text</option>
                                    #end
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">开始时间</td>
                                <td class="formValue">
                                    <input id="begintime" name="begintime" type="text" class="form-control input-wdatepicker Wdate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" data-bind="value:Model().begintime" />
                                </td>

                                <td class="formTitle">结束时间</td>
                                <td class="formValue">
                                    <input id="endtime" name="endtime" type="text" class="form-control input-wdatepicker Wdate" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" data-bind="value:Model().endtime" />
                                </td>
                            </tr>
                            <tr>
                                <td class="formTitle">动作锁定状态</td>
                                <td class="formValue">
                                    <select id="Select2" name="nalock" class="form-control " data-bind="value:Model().nalock">
                                        <option value="1" selected="selected">未锁定</option>
                                        <option value="2">已锁定</option>
                                    </select>
                                </td>
                                <td class="formTitle">动作状态</td>
                                <td class="formValue">

                                    <select id="Select1" name="nastatus" class="form-control " data-bind="value:Model().nastatus">
                                        <option value="1" selected="selected">已启用</option>
                                        <option value="2">未启用</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    #include("../AceTemplate/Module/EndDialogParam.html")
    <!--详情对话框-->
    #include("../AceTemplate/Module/BeginDialogDetail.html")
    <form id="Detailform">
        <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">表单信息</h3>
                </div>
                <div class="panel-body" style="width: 98%;">
                    <table class="form">
                        <tr>
                            <td class="formTitle">动作名称：</td>
                            <td class="formValue">
                                <label class="form-control" data-bind="text:Model().nodeactionname"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">动作类型：</td>
                            <td class="formValue">
                                <label class="form-control" data-bind="text:Model().nodetype==1?'普通节点动作':'会签节点动作'"></label>
                            </td>
                            <td class="formTitle">所属工作流：</td>
                            <td class="formValue">
                                <label class="form-control" data-bind="text:Model().wfid"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">当前节点：</td>
                            <td class="formValue">
                                <label class="form-control" data-bind="text:Model().currentnodeid"></label>
                            </td>
                            <td class="formTitle">下一节点：</td>
                            <td class="formValue">
                                <label class="form-control" data-bind="text:Model().nextnodeid"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">动作状态：</td>
                            <td class="formValue">
                                <label class="form-control" data-bind=" text:Model().nastatus==1?'已启用':'未启用'"></label>
                            </td>
                            <td class="formTitle">动作锁定状态：</td>
                            <td class="formValue">
                                <label class="form-control" data-bind=" text:Model().nalock==1?'未锁定':'已锁定'"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">开始时间：</td>
                            <td class="formValue">
                                <label class="form-control" data-bind=" dateString:Model().begintime"></label>
                            </td>
                            <td class="formTitle">结束时间：</td>
                            <td class="formValue">
                                <label class="form-control" data-bind=" dateString:Model().endtime"></label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
    #include("../AceTemplate/Module/EndDialogDetail.html")
    <script type="text/javascript" src="Templates/AceTemplate/js/workflownodeaction.js"></script>
</body>
</html>
